.row
  .col-sm-9
    .row
      .col-xs-1
      form(name='carsQuery', role='form')
        .col-md-8
          span.col-sm-4
            input#addresspicker(name='location', ng-model='locationQuery',type="text",class="form-control", placeholder='Where?', required)
          span.col-sm-5
            input(daterange, ng-model='dateRange', required)
          span.col-lg-3
            button.btn.btn-default(type="submit",ng-click='carQuery()',ng-disabled='!carsQuery.$valid') Submit


    br
    .row
      .col-lg-1
      .col-xs-10
        .alert.alert-danger(ng-show='message') {{message}}
        .row
          div(ng-repeat='car in cars')
            .col-md-4
              .well.well-sm
                .row
                  .col-xs-8
                    h3 {{car.name | lowercase}}
                    h4 {{car.location | lowercase}}
                  .col-xs-4
                    h4
                      span.label.label-danger {{car.price | currency:$}}
                  .col-xs-12
                    p {{car.dateFrom | date:'dd/MM/yyyy'}} - {{car.dateTo | date:'dd/MM/yyyy'}}




  // debug: print the database
  .col-sm-3.well
    h4 Database
    div.well(ng-repeat='car in carsDB')
      p {{car.name}}
      p {{car.location}}
      p {{car.dateFrom | date:'dd/MM/yyyy'}} to {{car.dateTo | date:'dd/MM/yyyy'}}
