.col-sm-8.col-sm-offset-2
  form(method='POST',name='signin',role='form')
    legend Sign In
    .form-group
      .btn-group.btn-group-justified
        a.btn.btn-facebook(href='/auth/facebook')
          i.fa.fa-facebook
          | Facebook
        a.btn.btn-twitter(href='/auth/twitter')
          i.fa.fa-twitter
          | Twitter
        a.btn.btn-github(href='/auth/github')
          i.fa.fa-github
          | GitHub
        a.btn.btn-google-plus(href='/auth/google')
          i.fa.fa-google-plus
          | Google
    .form-group
      label.control-label(for='email') Email
      input#email.form-control(ng-model='user.email' ,type='email', name='email', placeholder='Email', autofocus=true, required)
    .form-group
      label.control-label(for='username') Password
      input#password.form-control(ng-model='user.password', type='password', name='password', placeholder='Password', ng-minlength='4',required)
    .form-group
      button.btn.btn-primary(type="submit",ng-click='loginUser()')
        i.fa.fa-unlock-alt
        | Login
