.row
  h1 Register new car

br
.row
  form(name='addNewCar', role='form')
    .col-md-4
      .row
        h4 Car informations
        .input-group
          span.input-group-addon Car name
          input(name='carName', ng-model='car.name',type="text",class="form-control", required)
      br
      .row
        .input-group
          span.input-group-addon Location
          input(name='carLocation', ng-model='car.location',type="text",class="form-control", required)
      br
      .row
        .input-group
          span.input-group-addon $/day
          input(name='carPrice', ng-model='car.price',type="text",class="form-control", required)

      br
      .row
        h4 Availabilities
        input(daterange, ng-model='dateRange', required)
      br

br
.row
  .col-md-1
    button.btn.btn-default(type="submit",ng-click='addCar()', ng-disabled='!addNewCar.$valid') Submit

br
.row
  h4 Photos
  span.btn.btn-success.fileinput-button
    i.glyphicon.glyphicon-plus
    span Select files...
    input#testUpload(type="file", fileupload, name="files[]", data-url="/api/cars/picture/", multiple, done="uploadFinished(e, data)")
  br
  br
    #progress.progress
      .progress-bar.progress-bar-success
    #files.files
    br
    .panel.panel-default
      .panel-heading
        h5.panel-title Demo Notes
      .panel-body
        Demooooooooo!!!!!
