h1 Register new car
form(name='addNewCar', role='form')
  .input-group.col-md-3
    span.input-group-addon Car name
    input(name='carName', ng-model='car.name',type="text",class="form-control", required)

  br
  .input-group.col-md-3
    span.input-group-addon Location
    input(name='carLocation', ng-model='car.location',type="text",class="form-control", required)

  br
  h4 Availabilities
  br
  row
    .input-daterange.input-group
      input(datepicker, name='dateFrom', ng-model='$parent.car.dateFrom',type="text",class="form-control", placeholder='start',required)
      span.input-group-addon to
      input(datepicker, name='dateTo', ng-model='$parent.car.dateTo',type="text",class="form-control", placeholder='end', required)
  br
  row
    button.btn.btn-default(type="submit",ng-click='addCar()', ng-disabled='!addNewCar.$valid') Submit
  row
    .alert.alert-success(ng-show='message') {{message}}
