.row
  .col-md-9
    .row
      .col-md-3
      form(name='carsQuery', role='form')
        .col-md-6
          span.col-xs-3
            input#addresspicker(name='location', ng-model='locationQuery',type="text",class="form-control", placeholder='Where?', required)
          span.col-xs-6
            .input-daterange.input-group
              input(datepicker, name='dateFrom', ng-model='$parent.dateQueryFrom',type="text",class="form-control", placeholder='start',required)
              span.input-group-addon to
              input(datepicker, name='dateTo', ng-model='$parent.dateQueryTo',type="text",class="form-control", placeholder='end', required)

          span.col-xs-3
          button.btn.btn-default(type="submit",ng-click='carQuery()') Submit


    br
    .row
      .col-lg-2
      .col-md-10
        div(ng-show='message') {{message}}
        div.well(ng-repeat='car in cars')
          p {{car.name}}
          p {{car.location}}
          // p {{car.dateFrom}}
          // p {{car.dateTo}}

  // debug: print the database
  .col-md-3.well
    h4 Database
    div.well(ng-repeat='car in carsDB')
      p {{car.name}}
      p {{car.location}}
      p {{car.dateFrom}} to {{car.dateTo}}
