doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    != css('styles')
    != js('application')

    // Do not work yet
    // if env == 'development'
    //   != js('application')
    // else if env == 'production'
    //   != js('application-cdn')
  body
    block navigation

    #mainApp.container
      block body
